:root {
  --dark-green: #16261d;
  --light-green: #263a2f;
  --dark-gold: #946d36;
  --light-gold: #c59148;
  /* --background-color: white; */
  --background-color: #263a2f;
}

/* COLORS: 

options: mustard yellow #e1ad01;


*/

/*** Setting Typography ***/

@font-face {
  font-family: "Brandon Regular";
  src: url("fonts/Brandon_regular.otf") format("opentype");
}

@font-face {
  font-family: "Brandon Light";
  src: url("fonts/Brandon_light.otf") format("opentype");
}

@font-face {
  font-family: "Brandon Bold";
  src: url("fonts/Brandon_bold.otf") format("opentype");
}

@font-face {
  font-family: "Brooke";
  src: url("fonts/Brooke.woff") format("woff");
  src: url("fonts/Brooke.otf") format("opentype");
  src: url("fonts/Brooke.ttf") format("truetype");
}

@font-face {
  font-family: "Brooke Italic";
  src: url("fonts/Brooke Italic.woff") format("woff");
  src: url("fonts/Brooke Italic.otf") format("opentype");
  src: url("fonts/Brooke Italic.ttf") format("truetype");
}

/* Webfont: BonVivant-Regular */
@font-face {
  font-family: "BonVivant";
  src: url("fonts/BonVivant.woff2") format("woff2"); /* Modern Browsers */
  src: url("fonts/BonVivant.woff") format("woff");
  src: url("fonts/BonVivant.ttf") format("truetype");
  src: url("fonts/BonVivant.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/*** Typography ***/

h1 {
  color: var(--dark-gold);
  font-family: "Brooke", serif;
  display: block;
  letter-spacing: 6px;
  text-align: center;
  margin: 20px 0px;
  font-size: 60px;
}

h2 {
  font-family: "Brooke", serif;
  letter-spacing: 4px;
  font-size: 60px;
  color: var(--light-gold);
  margin: 0px;
}

h2.brooke {
  font-family: "Brooke", serif;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 66px;
  letter-spacing: 6px;
  margin-bottom: 50px;
}

h3 {
  font-family: "Brandon Light", sans-serif;
  text-transform: uppercase;
  color: var(--dark-gold);
  text-align: center;
  font-size: 13px;
  letter-spacing: 3px;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Brandon Regular", sans-serif;
  text-align: center;
  color: var(--dark-gold);
}

h2.tagline {
  color: var(--dark-gold);
  font-size: 30px;
  margin: 40px 0px;
  letter-spacing: 8px;
}

h6 {
  font-family: "Brandon Light";
  text-transform: uppercase;
  color: var(--dark-gold);
  letter-spacing: 2px;
  font-size: 11px;
}

p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 100;
}

.title-effect {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.title-effect h2 {
  font-family: "Brooke", serif;
  font-size: 80px;
  letter-spacing: 6px;
  text-align: left;
  color: var(--light-gold);
}

.title-effect h3 {
  font-size: 12px;
  font-family: "Brandon Light", sans-serif;
  text-align: left;
  letter-spacing: 5px;
  position: relative;
  left: 340px;
  color: var(--light-gold);
}

.title-effect h3:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  margin-left: 10px;
  background: var(--dark-gold);
}

.title-effect h2 span {
  display: block;
  position: relative;
  line-height: 1;
}

.title-left {
  left: 90px;
}

.title-right {
  left: 340px;
}

/* note: mobile & ipad */
@media (max-width: 992px) {
  h2 {
    font-size: 50px;
  }

  .title-effect h2 {
    font-size: 50px;
    letter-spacing: 4px;
  }

  .title-effect h3 {
    font-size: 11px;
    letter-spacing: 3px;
    left: 15%;
  }

  .title-left {
    left: 5%;
  }

  .title-right {
    left: 20%;
  }
}

/* note: smaller mobile */
@media (max-width: 413px) {
  h2 {
    font-size: 50px;
  }

  .title-effect h2 {
    font-size: 40px;
  }
}

/*** Nav-bar ***/

/* .navbar {
  background-color: #1e3227;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-family: "Brandon Regular";
  font-size: 12px;
  letter-spacing: 3px;
}

.shadow {
  background-color: white !important;
}

.nav-link {
  color: white;
} */

/**************** Hover animation BEGIN *****/
/* a.middle {
  position: relative;
}

a.middle:before:link {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #d1a76d;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:visited:before {
  visibility: visible;
  transform: scaleX(1);
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

a.middle:active:before {
  visibility: visible;
  transform: scaleX(1);
} */

/************** Hover animation END ************************/

.navbar-brand {
  margin: 0px;
}

.navbar-brand img {
  width: auto;
  margin: 0 50px;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: center;
    display: flex;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }

  .navbar-expand-lg .navbar-nav .nav-link:link {
    padding-right: 0rem;
    padding-left: 0rem;
    margin: 0px 80px;
  }

  .navbar-expand-lg .navbar-nav .nav-link:visited {
    color: white;
  }

  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #d1a76d;
  }

  .navbar-expand-lg .navbar-nav .nav-link:active {
    color: #d1a76d !important;
    border-bottom: 1px solid #d1a76d;
  }
}

/* nav-bar scroll effect */

/*** Buttons ***/

button {
  border: 1px solid var(--light-gold);
  color: var(--light-gold);
  margin: 15px auto;
  padding: 10px 26px;
  font-family: "Brandon Regular";
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  background-color: transparent;
  display: block;
}

button:visited {
  border: 1px solid var(--light-gold);
  color: var(--light-gold);
}

button:hover {
  background-color: var(--light-gold);
  color: var(--background-color);
  border: 1px solid var(--light-gold);
  transition-duration: 500ms;
}

button:active {
  background-color: var(--light-gold);
  color: var(--light-green);
  border: 1px solid var(--light-gold);
}

@media (max-width: 992px) {
  button {
    font-size: 11px;
  }
}

/*** MAIN ***/
.container-main {
  padding: 100px 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

body {
  width: 100%;
  margin: 0 auto;
  /* background-color: #1e3227; */
  background-color: var(--background-color);
}

div .space-around {
  display: flex;
  justify-content: stretch;
}

img {
  /* margin: 0px;
  display: block; */
}

.block {
  display: block;
}

.half-width {
  width: 50%;
}

div.three-quarters-width {
  width: 75%;
}

hr {
  opacity: 1;
}

/*** HEADER ***/
header {
  height: 100vh;
}

.banner {
  padding: 100px 5%;
  /* background-image: url("images/K&D-Header-BackgroundImage.png"); */
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

img.logo-header {
  width: 80%;
  display: none;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title h1 {
  font-family: "BonVivant";
  letter-spacing: 0;
  font-size: 140px;
  margin: -20px;
}

.title h3 {
  font-family: "Brandon Light", sans-serif;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 30px auto;
}

.navigation-buttons {
  width: 50%;
  margin-top: 50px;
}

.navigation-buttons button {
  width: 100%;
}

header h6 {
  font-family: "Brandon Bold";
}

/* header responsiveness */

@media (max-width: 1200px) {
  .banner {
    padding: 50px 5%;
    align-items: stretch;
  }

  .header-content {
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  }

  img.logo-header {
    width: 100%;
    /* display: none; */
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .title h1 {
    font-family: "BonVivant";
    letter-spacing: 0;
    font-size: 80px;
    margin: 0px;
  }

  .title h3 {
    font-family: "Brandon Light", sans-serif;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    letter-spacing: 3px;
    margin: 0px auto;
  }

  .navigation-buttons {
    width: 80%;
  }

  .navigation-buttons button {
    margin: 15px auto;
  }
}

/*** Header Background ***/
.bg-left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100vh;
  zoom: 1;
  z-index: -100;
}

.bg-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100vh;
  zoom: 1;
  z-index: -100;
}

/*** Body Container Content ***/

.content {
  width: 100%;
  position: relative;
  /* left: 90px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  align-items: baseline;
}

.content h6 {
  font-size: 14px;
  min-width: 10%;
}
.content p {
  font-size: 5vw;
  color: var(--light-gold);
  font-weight: 100;
  margin: 0px;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  .content {
  }

  .content-text {
    width: 90%;
  }

  .content h6 {
    min-width: 15%;
  }

  .content p {
    /* font-size: 40px; */
  }
}

@media (max-width: 566px) {
  .content-text {
    flex-direction: column;
    margin: 10px auto;
  }

  .content h6 {
    font-size: 11px;
    margin-bottom: 0px;
  }

  .details .content {
    min-height: 300px !important;
  }
}

@media screen and (max-width: 414px) {
}

/*** QUIZ CONTAINER ***/

.quiz-title {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0px 5%;
}

.quiz-title h2 {
  text-align: center;
}

.quiz-title h3 {
  display: flex;
  margin: 0px;
}

.quiz-title h3:first-of-type {
  justify-content: flex-start;
}

.quiz-title h3:last-of-type {
  justify-content: flex-end;
}

.quiz-content {
  border: 1px solid var(--light-gold);
  width: 90%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.row-1,
.row-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.flip-card {
  background-color: transparent;
  min-width: 22%;
  min-height: 360px;
  perspective: 1000px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s, -webkit-transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front {
  background-color: var(--dark-green);
  color: var(--light-gold);
}

.flip-card-back {
  background-color: white;
  color: var(--light-gold);
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 30px;
  display: flex;
  align-content: center;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 603px) {
  .quiz-title h2 {
    font-size: 40px;
  }

  .quiz-title h3 {
    font-size: 11px;
  }

  .flip-card {
    min-width: 44%;
  }

  .row-1,
  .row-2 {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 491px) {
  .quiz-title h2 {
    font-size: 30px;
  }

  .quiz-title h3 {
    font-size: 11px;
    letter-spacing: 2px;
    font-family: "Brandon Regular";
  }
}

@media screen and (max-width: 394px) {
  .flip-card {
    min-width: 43%;
  }

  .quiz-title h2 {
    font-size: 24px;
  }

  .quiz-title h3 {
    font-size: 9px;
  }
}

/*** DETAILS CONTAINER***/

.details {
  /* background-image: url("images/K&D-Header-Details-Background-Image.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  /* background-color: #16261d; */
  display: flex;
  flex-direction: column;
}

.details-content {
  margin-top: 120px;
}

.details .content {
  min-height: 450px;
}
/*** WEDDING PARTY ***/

.wedding-party h4 {
  margin: 15px auto 0px;
  color: var(--dark-gold);
}

.wedding-party h6 {
  margin-bottom: 15px;
  text-align: center;
  color: var(--dark-green);
}

/* .wedding-party {
  background-color: #263a2f; */
/* height: auto;
} */

.wedding-party-content {
  border: 1px solid var(--dark-gold);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 5%;
  /* background-color: var(--light-gold); */
}

.family,
.friends {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#parents-bride {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#parents-groom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr.family-sep {
  border: 1px solid var(--light-gold);
  width: 50%;
  margin: 30px;
}

.friends {
  flex-direction: row;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

/*** countdown ***/
.countdown {
  height: auto;
}

/* Footer */

.footer {
  background-color: var(--dark-green);
  margin-bottom: 0px;
  padding: 20px 5%;
}

.footer h6 {
  color: var(--light-gold);
  margin: 0;
  text-align: center;
  font-family: "Brandon Light", sans-serif;
}

@media (max-width: 992px) {
  .footer {
    font-size: 11px;
    padding: 10px 5%;
  }
}
